body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  width: 96vw;
  height: 96vh;
  margin: 2vh 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cellRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.cellBoard {
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cell {
  margin: 0;
  width: 8px;
  height: 8px;
}

.controls {
  padding: 20px;
}
